@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.Index.css">
    <title>Document</title>
</head>

<body>
    <div class="text-center">
        <h1 class="welcome-style">Welcome</h1>
    </div>
    

    <button class="explore-button">
        <a style="color: white" class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Explore All Products</a>
    </button>

</body>

</html>
